---
title: IBM WebSphere Liberty for Pivotal Platform (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The IBM WebSphere Liberty for Pivotal Platform tile is currently in beta and
is intended for evaluation and test purposes only.
Do not use this product in a Pivotal Platform production environment.
</p>

IBM WebSphere Liberty for Pivotal Platform is a buildpack that provides a complete runtime environment
for running Java EE and OSGi applications on top of [IBM WebSphere Application Server Liberty][IBM WebSphere Liberty].
Liberty is a highly composable, fast to start, dynamic application server runtime environment.

## <a id='overview'></a>Overview

IBM WebSphere Liberty for Pivotal Platform installs the `ibm_websphere_liberty_buildpack` buildpack into Pivotal Platform.
Developers can then deploy their Java EE applications using the buildpack.
The buildpack downloads and installs the Liberty runtime along with the IBM JRE.
The buildpack can handle different application types such as Web applications (`.war`),
Enterprise applications (`.ear`),
[Liberty packaged servers](https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_setup_package_server.html),
or [Liberty server directories](https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_setup_new_server.html).

For more information,
see [IBM WebSphere Liberty Buildpack](https://github.com/cloudfoundry/ibm-websphere-liberty-buildpack/blob/master/README.md).

## <a id='features'></a>Key Features

IBM WebSphere Liberty for Pivotal Platform includes the following key features:

* Supports Java EE 8 and 7 applications
* Supports different application types
  * Java EE archives (`.war`, `.ear`)
  * Liberty archives that can include configuration data along with applications
  * Standalone applications (`.jar`), etc.
* Runs on IBM SDK and supports OpenJDK

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about IBM WebSphere Liberty for Pivotal Platform.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v3.11.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 27, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>3.11.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.1.x, v2.3.x, and v2.31.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="relnotes"></a>Release Notes

For information about specific versions,
see the [IBM WebSphere Liberty Buildpack Release Notes](https://github.com/cloudfoundry/ibm-websphere-liberty-buildpack/releases).

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug,
please open [an issue on IBM WebSphere Liberty Buildpack](https://github.com/cloudfoundry/ibm-websphere-liberty-buildpack/issues).

## <a id='license'></a>License

 * [IBM WebSphere Liberty Buildpack][Buildpack-License]
 * [IBM WebSphere Liberty][Liberty-License]
 * [IBM SDK][JVM-License]

[IBM WebSphere Liberty]: https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_about.html
[Liberty-License]: https://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/downloads/wlp/19.0.0.6/lafiles/runtime/en.html
[JVM-License]: http://www14.software.ibm.com/cgi-bin/weblap/lap.pl?la_formnum=&li_formnum=L-SMKR-AVSEUH&title=IBM%AE+SDK%2C+Java%99+Technology+Edition%2C+Version+8.0&l=en
[Buildpack-License]: https://github.com/cloudfoundry/ibm-websphere-liberty-buildpack/blob/master/LICENSE
