---
title: Release Notes for IBM Websphere Liberty for PCF
owner: Partners
---


These are release notes for IBM Websphere Liberty for PCF.

##<a id="ver"></a> v3.5.0

**Release Date:** November 20, 2018

Features included in this release:

* Initial Open Beta Release
* See the [IBM WebSphere Liberty Buildpack Release Notes](https://github.com/cloudfoundry/ibm-websphere-liberty-buildpack/releases) for information about specific versions
