---
title: Release Notes for IBM Websphere Liberty for PCF
owner: Partners
---


These are release notes for IBM Websphere Liberty for Pivotal Cloud Foundry (PCF).

##<a id="ver"></a> v3.5.0

**Release Date:** December 4, 2018

Features included in this release:

* Initial open beta release
* For information about specific versions,
  see the [IBM WebSphere Liberty Buildpack release notes](https://github.com/cloudfoundry/ibm-websphere-liberty-buildpack/releases).
